.container {
  padding-top: 1rem;
}

.nav {
  align-items: flex-end;
}

@media (max-width: 575px) {
  .nav {
    display: inline;
  }
  .form {
    padding-top: 1rem;
    padding-left: 1rem;
  }
}

.navlink {
  margin: 0 auto;
  width: 140px;
}

.navlink:global(.active) {
  background-color: white;
  font-weight: bold;
}

.nextBtn {
  color: #94C6EA;
  border-color: #94C6EA;
  border-radius: 10px;
  border-width: 2px;
}