html, body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu,
    Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  line-height: 1.5;
  font-size: 16px;
  height: 100%;
  background-color: hsla(0, 0%, 100%, 0.892);
}

body {
  margin: 0 0 100px;
  -webkit-font-smoothing: antialiased;
}



input {
  border-radius: 6px;
  margin-bottom: 6px;
  padding: 12px;
  border: 1px solid rgba(50, 50, 93, 0.1);
  max-height: 44px;
  font-size: 16px;
  width: 100%;
  background: white;
  box-sizing: border-box;
}
/*
red: #D84339
blue: #94C6EA 
*/

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

img {
  max-width: 100%;
  display: block;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-tap-highlight-color: transparent;
}

body {
  padding: 0;
  font-weight: 400;
  line-height: 1.563;
  height: 100%;
}
.top {
  background-color: white;
  border-bottom: 3px solid;
  border-image-slice: 1;
  border-image-source: linear-gradient(to left, #94C6EA, #D84339);
}

.nav {
  position: relative;
  margin: 0 auto; 
  max-width: 850px;
  justify-content: space-between;
}

.login-btn {
  color: #94C6EA;
  border-color: #94C6EA;
  border-radius: 10px;
  border-width: 2px;
}

.container {
  max-width: 1000px;
  padding: 0 16px;
  margin: 0 auto;
}

@media (min-width: 768px) {
  .half {
    flex: 0 1 calc(50% - 1.75rem);
 }
}
.hero-container {
  background-color: hsla(0, 0%, 100%, 0.947);
  padding: 2rem 0rem 1rem 0rem;
}
.hero {
  display: flex;
  flex-direction: column;
}
@media (min-width: 768px) {
  .hero {
    flex-direction: row;
    justify-content: center;
    align-items: center;
 }
}
@media (min-width: 768px) {
  .hero-photo {
    order: 2;
    margin-left: 3rem;
    position: relative;
 }
}
@media (min-width: 768px) {
  .hero-photo img {
    max-width: 300px;
    position: relative;
    z-index: 2;
 }
}
.hero-body {
  padding-bottom: 1rem;
}
@media (min-width: 768px) {
  .hero-body {
    order: 1;
 }
}
.hero-subtitle {
  margin-top: 1rem;
  font-weight: 500;
  line-height: 1.3rem;
}
.hero-title {
  font-size: 3rem;
  font-weight: 700;
  line-height: 40px;
}
@media (min-width: 768px) {
  .hero-title {
    line-height: 46px;
 }
}
@media (min-width: 768px) {
  .hero-footer {
    flex-direction: row;
    padding-top: 2rem;
 }
}
.hero {
  margin-bottom: 0.75rem;
}
@media (min-width: 768px) {
  .hero {
    margin-right: 1rem;
 }
}
.hero-btn {
  margin-right: 0.5rem;
  border-radius: 10px;
  border-width: 2px;
}

.mcontainer {
  border-top: 3px solid;
  background-color: hsl(0, 0%, 93%);
  border-bottom: 3px solid rgb(85, 85, 85);
}

.middle {
  margin-top: 2rem;
  padding-bottom: 2rem;
}

.middle-title {
  padding-top: 1rem;
  padding-bottom: 0.5rem;
}

.middle-container-title {
  margin: 0 auto;
  padding-left: 1rem;
  position: relative;
  max-width: 850px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.middle-container {
  display: flex;
  flex-direction: row ;
  justify-content: flex-start;
  margin: 0 auto;
  max-width: 850px;
  position: relative;
  flex-wrap: wrap;
}

.blurb {
  padding: 1rem;
  margin-right: 5rem;
}

#none {
  list-style-type: none;
}

.get-company {
  margin: 1rem;
}

footer {
  margin-top: 2rem;
  font-size: 20px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 1rem;
}
footer img {
  margin-left: 0.5rem;
}

footer a {
  width: 850px;
  padding-left: 1rem;
  margin-top: 2rem;
}
a {
  color: inherit;
  text-decoration: none;
}
.title {
  margin: 0;
  line-height: 1.15;
  /* maybe change font size to 4rem */
  font-size: 4rem;
}
